* {
	box-sizing: border-box;
}

body {
	background-image: url("background.jpg");
	background-size: cover;
	font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
}

#topmid {
	border: 0px solid black;
	background-color: #808080;
	background-size: cover;
	background-position: center;
	border-radius: 15px;
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	margin: auto;
	width: fit-content;
	font-size: 25px;
	align-content: center;
}

.tab {
	font-weight: bold;
	margin: auto;
	width:35%;
	text-align:center;
}

.tab tr {
	border: 1px black hidden;
	border-radius: 10px;
	background-color: #FFE5CC;
	font-size: 22px;
	float:center;

	padding-bottom:5px;
	padding-top:2px;
	margin-bottom:10px;
	width:100%;
}

a:hover {
	color: red;
}

a:link {
	color: black;
	text-decoration: none;
}

header  nav li :hover{
	border-bottom: 2px #ffff80 solid;
	border-radius: 10px;
	color: #ffff80;
	padding-bottom:2px;
}

header  nav li{
    display: table;
    height: 80%;
    float: left;
    margin-right: 20px;
	padding-left: 10px;

}

header  nav a{
    color: #ffffff;
}

header nav li a.active {
	border-bottom: 2px #ffff80 solid;
	border-radius: 10px;
	color: #ffff80;
	padding-bottom:2px;
}
.form-container {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 300px;
	align-items: center;
	display: flex;
	justify-content: center;
}
.form-container label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}
.form-container input[type="text"],
.form-container input[type="number"] {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.form-container input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #28a745;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.form-container input[type="submit"]:hover {
	background-color: #218838;
}